.navBar {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 30px;
  display: flex;
  justify-content: right;
  gap: 15px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
